[user]
	email = rafalmrozek25@gmail.com
	name = rafalmrozek
[core]
	autocrlf = input
	editor = nano
[color]
	branch = auto
	diff = auto
	status = auto
[alias]
	branch = -a
	branch-a = br
	br = branch
	co = checkout
	ci = commit
	lg = log
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	dg = diff
	st = status
[alia]
	st = status
	dg = diff
