[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/LABPK/rwensker/Pulpit/sk1.sh]
row=0
col=1

[/home/LABPK/rwensker/Pulpit/sk11.sh]
row=8
col=0

[/home/LABPK/rwensker/Pulpit/zadanka]
row=1
col=1

[/home/LABPK/rwensker/Pulpit/kolokwium]
row=5
col=0

[/home/LABPK/rwensker/Pulpit/lab6]
row=7
col=0

[/home/LABPK/rwensker/Pulpit/lab7]
row=6
col=0

[62F8EC26F8EBF667]
row=1
col=0

[7E5048BA50487AC3]
row=0
col=0

[Kosz]
row=2
col=0

[/]
row=3
col=0

[/home/LABPK/rwensker]
row=4
col=0

